  .register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  }
  
  .register-box {
  display: flex;
  width: 750px;
  
  border-radius: 8px;
  overflow: hidden;
  height: 500px;
  }

  .register-left {
    width: 50%;
    background-color: #2e8b4d;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('src/images/windows-5EQkyNai6L0-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .register-left h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2e8b4d;
  }
  
  .register-left ul {
  list-style: none;
  padding: 0;
  color: #2e8b4d;
  font-size: 18px;
  }
  
  .register-left ul li {
    margin-bottom: 8px;
  }

  .register-right {
  width: 50%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .register-right h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .register-right p {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
  }
  
  .register-right a {
    color: #007bff;
  text-decoration: none;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  
  .continue-btn {
    width: 100%;
    background-color: rgb(15, 149, 33);
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .or-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: gray;
  }
  
  .social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .apple-btn,
  .facebook-btn {
    width: 48%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .verify-btn {
    width: 100%;
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .back-btn {
    cursor: pointer;
  }
  .resend-btn {
    cursor: pointer;
    color: cadetblue;
  }
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }