.product-section {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}

.product-section h2 {
  font-size: 24px;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;
}

.product-section h2 span {
  background: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.product-slider .product-card-wrapper {
  padding: 10px;
}

.product-slider .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-slider .slick-prev,
.product-slider .slick-next {
  z-index: 1;
  color: #333;
}